<h2 class="lnb-title">내차관리</h2>
<ul class="lnb-list">
    <li>
        <a href="javascript:;" class="active"><span>광고중</span><span>35</span></a>
    </li>
    <li>
        <a href="javascript:;"><span>광고대기</span><span>0</span></a>
    </li>
    <li>
        <a href="javascript:;"><span>판매완료</span><span>152</span></a>
    </li>
    <li>
        <a href="javascript:;"><span>예외신청</span><span>0</span></a>
    </li>
    <li>
        <a href="javascript:;"><span>광고삭제</span><span>2</span></a>
    </li>
    <li>
        <a href="javascript:;"><span>허위매물신고</span><span>0</span></a>
    </li>
    <li>
        <a href="javascript:;"><span>임시저장 </span><span>1</span></a>
    </li>
</ul>
<div class="lnb-btn">
    <button type="button" class="btn-type03">진단광고 등록</button>
    <button type="button" class="btn-type03">진단광고 관리</button>
</div>