<div class="header-area-grid">
    <h1 class="header-logo"><a href="javascript:void(0);"><img src="/UIDev/v2/images/common/bi.png" alt=""></a></h1>
    <nav class="header-nav">
        <ul class="gnb-menu">
            <li><a href="javascript:void(0);">홈</a></li>
            <li><a href="javascript:void(0);">검색</a></li>
            <li><a href="javascript:void(0);">내차관리</a></li>
            <li><a href="javascript:void(0);">상담관리</a></li>
            <li><a href="javascript:void(0);">경매</a></li>
            <li><a href="javascript:void(0);">안내</a></li>
        </ul>

        <div class="gnb-util">
            <div class="membrt-info"><strong>심은정</strong>딜러님</div>
            <a href="javascript:void(0);" class="navigation-util"><i class="icon-common sign-out"></i>로그아웃</a>
        </div>

        <div class="navigation-quick">
            <a href="/public/event/basicMaster.kbc">이벤트</a>
            <a href="/public/notice/list.kbc">새소식</a>
            <a href="javascript:void(0);" class="all-menu">전체서비스</a>
        </div>
    </nav>
</div>