@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  color: inherit;
  box-sizing: border-box;
  line-height: 1.4em;
  text-decoration: inherit;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body {
  width: 100%;
  height: 100%;
}

*:after, *:before {
  box-sizing: border-box;
}

body {
  line-height: 1.4em;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

img, button, a {
  vertical-align: middle;
}

button, a {
  background: none;
  border: none;
  cursor: pointer;
}

caption {
  opacity: 0;
  position: absolute;
  display: block;
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: transparent;
}

/* KB금융 본문체 Medium*/
@font-face {
  font-family: "KBFGText";
  font-style: normal;
  font-weight: 400;
  src: local("KBFGTextM"), url("/UIDev/v2/font/KBFGTextM.woff") format("woff"), url("/UIDev/v2/font/KBFGTextM.ttf") format("truetype"), url("/UIDev/v2/font/KBFGTextM.svg#KBFGTextM") format("svg");
}
/* KB금융 본문체 Bold*/
@font-face {
  font-family: "KBFGText";
  font-style: normal;
  font-weight: 700;
  src: local("KBFGTextB"), url("/UIDev/v2/font/KBFGTextB.woff") format("woff"), url("/UIDev/v2/font/KBFGTextB.ttf") format("truetype"), url("/UIDev/v2/font/KBFGTextB.svg#KBFGTextB") format("svg");
}
/* KB금융 본문체 Light*/
@font-face {
  font-family: "KBFGText";
  font-style: normal;
  font-weight: 300;
  src: local("KBFGTextM"), url("/UIDev/v2/font/KBFGTextL.woff") format("woff"), url("/UIDev/v2/font/KBFGTextL.ttf") format("truetype"), url("/UIDev/v2/font/KBFGTextL.svg#KBFGTextL") format("svg");
}
/*KB금융 제목체 Light*/
@font-face {
  font-family: "KBFGDisplay";
  font-style: normal;
  font-weight: 300;
  src: local("KBFGDisplayL"), url("/UIDev/v2/font/KBFGDisplayL.woff") format("woff"), url("/UIDev/v2/font/KBFGDisplayL.ttf") format("truetype"), url("/UIDev/v2/font/KBFGDisplayL.svg#KBFGDisplayL") format("svg");
}
/*KB금융 제목체 Medium*/
@font-face {
  font-family: "KBFGDisplay";
  font-style: normal;
  font-weight: 500;
  src: local("KBFGDisplayM"), url("/UIDev/v2/font/KBFGDisplayM.woff") format("woff"), url("/UIDev/v2/font/KBFGDisplayM.ttf") format("truetype"), url("/UIDev/v2/font/KBFGDisplayM.svg#KBFGDisplayM") format("svg");
}
/*KB금융 제목체 Blod*/
@font-face {
  font-family: "KBFGDisplay";
  font-style: normal;
  font-weight: 700;
  src: local("KBFGDisplayB"), url("/UIDev/v2/font/KBFGDisplayB.woff") format("woff"), url("/UIDev/v2/font/KBFGDisplayB.ttf") format("truetype"), url("/UIDev/v2/font/KBFGDisplayB.svg#KBFGDisplayB") format("svg");
}
/*apple 산돌고딕 bold*/
@font-face {
  font-family: "Apple SD Gothic Neo";
  font-style: normal;
  font-weight: bold;
  src: local("AppleSDGothicNeoB"), url("/UIDev/v2/font/AppleSDGothicNeoB.ttf") format("truetype");
}
/*apple 산돌고딕 semibold*/
@font-face {
  font-family: "Apple SD Gothic Neo";
  font-style: normal;
  font-weight: 600;
  src: local("AppleSDGothicNeoSB"), url("/UIDev/v2/font/AppleSDGothicNeoSB.ttf") format("truetype");
}
/*apple 산돌고딕 normal*/
@font-face {
  font-family: "Apple SD Gothic Neo";
  font-style: normal;
  font-weight: 500;
  src: local("AppleSDGothicNeoM"), url("/UIDev/v2/font/AppleSDGothicNeoM.ttf") format("truetype");
}
/*apple 산돌고딕 light*/
@font-face {
  font-family: "Apple SD Gothic Neo";
  font-style: normal;
  font-weight: 400;
  src: local("AppleSDGothicNeoL"), url("/UIDev/v2/font/AppleSDGothicNeoL.ttf") format("truetype");
}
/*apple 산돌고딕 THIN*/
@font-face {
  font-family: "Apple SD Gothic Neo";
  font-style: normal;
  font-weight: 300;
  src: local("AppleSDGothicNeoT"), url("/UIDev/v2/font/AppleSDGothicNeoT.ttf") format("truetype");
}
.a11y-hidden {
  overflow: hidden !important;
  position: absolute !important;
  clip: rect(0, 0, 0, 0) !important;
  clip-path: circle(0) !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
}

.display-none {
  display: none !important;
}

.tal {
  text-align: left !important;
}

.tar {
  text-align: right !important;
}

.tac {
  text-align: center !important;
}

.font-kb {
  font-family: "Apple SD Gothic Neo", -apple-system, "Roboto", "NotoSansKR", "Arial", sans-serif !important;
}

.font-normal {
  font-family: -apple-system, "Roboto", "NotoSansKR", "Arial", sans-serif !important;
}

.fw-regular {
  font-weight: 400 !important;
}

.fw-medium {
  font-weight: 500 !important;
}

.fw-light {
  font-weight: 300 !important;
}

.fw-bold {
  font-weight: 700 !important;
}

.mg-none {
  margin: none !important;
}

.mg-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.mgt-xxs {
  margin-top: 0.4rem !important;
}

.mgt-xs {
  margin-top: 0.8rem !important;
}

.mgt-s {
  margin-top: 1.2rem !important;
}

.mgt-m {
  margin-top: 1.6rem !important;
}

.mgt-l {
  margin-top: 2rem !important;
}

.mgt-xl {
  margin-top: 2.4rem !important;
}

.mgb-xxs {
  margin-bottom: 0.4rem !important;
}

.mgb-xs {
  margin-bottom: 0.8rem !important;
}

.mgb-s {
  margin-bottom: 1.2rem !important;
}

.mgb-m {
  margin-bottom: 1.6rem !important;
}

.mgb-l {
  margin-bottom: 2rem !important;
}

.mgb-xl {
  margin-bottom: 2.4rem !important;
}

.mgl-m {
  margin-left: 1.6rem !important;
}

.mgl-xl {
  margin-left: 2.4rem !important;
}

.gap40 {
  padding-right: 4rem;
}

.gap80 {
  padding-right: 8rem;
}

html {
  font-size: 10px;
}

body {
  background-color: #fff;
  font-family: "Apple SD Gothic Neo", -apple-system, "Roboto", "NotoSansKR", "Arial", sans-serif;
  font-size: 1.4rem;
  color: #000;
  word-break: break-all;
  letter-spacing: -0.1rem;
}

.body-area {
  min-width: 126rem;
  width: 100%;
  height: 100%;
}

.main-area {
  width: 100%;
  min-height: calc(100% - 20rem);
}

.section-area {
  width: 126rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding-top: 4.8rem;
  padding-bottom: 10.5rem;
}
.section-area .section-area-grid {
  width: 102.1rem;
}
.section-area .section-area-grid.section-area-grid-full {
  width: 100%;
}

.lnb {
  width: 23.9rem;
  font-weight: 700;
  font-size: 1.8rem;
  text-align: left;
}
.lnb .lnb-title {
  margin-bottom: 4.25rem;
}
.lnb .lnb-list li + li {
  margin-top: 2.75rem;
}
.lnb .lnb-list a.active {
  color: #FF5D16;
}
.lnb .lnb-list a.active span:first-child::after {
  background: #FF5D16;
}
.lnb .lnb-list a {
  display: inline-block;
}
.lnb .lnb-list a span {
  vertical-align: middle;
  display: inline-block;
}
.lnb .lnb-list a span:first-child::after {
  content: "";
  width: 0.1rem;
  height: 1.6rem;
  margin: 0 1rem;
  display: inline-block;
  background: #000;
  vertical-align: middle;
  margin-top: -0.3rem;
}
.lnb .lnb-btn {
  margin-top: 3rem;
}
.lnb .lnb-btn .btn-type03 {
  display: block;
}
.lnb .lnb-btn .btn-type03 + .btn-type03 {
  margin-top: 1rem;
}

.section-area-grid .title-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-area-grid .title-area .title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.4rem;
}
.section-area-grid .title-area .title strong {
  color: #FF5D16;
  margin-right: 0.4rem;
}
.section-area-grid .title-area .btn-type03 {
  display: block;
}

.car-search-area {
  margin-top: 2rem;
  background: #FAF9F8;
  padding: 3rem 4rem;
  border-radius: 0.6rem;
  display: flex;
  flex-wrap: wrap;
}
.car-search-area .car-search-area-option-box {
  width: 38.7rem;
  margin-right: 2rem;
  display: flex;
  align-items: center;
}
.car-search-area .car-search-area-option-box:nth-child(2) .tit {
  width: 5rem;
}
.car-search-area .car-search-area-option-box:nth-child(1), .car-search-area .car-search-area-option-box:nth-child(2) {
  margin-bottom: 2rem;
}
.car-search-area .car-search-area-option-box .tit {
  font-size: 1.6rem;
  font-weight: 600;
  margin-right: 2rem;
  flex-shrink: 0;
}
.car-search-area .car-search-area-option-box .con {
  flex-shrink: 0;
}
.car-search-area .car-search-area-option-box .con .custom-select-box, .car-search-area .car-search-area-option-box .con input {
  width: 32rem;
}
.car-search-area .car-search-area-option-box .con .input-date {
  width: 15.5rem;
}
.car-search-area .car-search-area-option-box .con .input-date > input {
  width: 100%;
}
.car-search-area .car-search-area-option-box .con .btn-type01 {
  margin-left: 2rem;
}

.car-search-result-area {
  margin-top: 5rem;
}

.car-search-result-mode-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.car-search-result-mode-area.justify-end {
  justify-content: flex-end;
}
.car-search-result-mode-area .car-search-result-mode-area-box {
  display: flex;
  align-items: center;
}
.car-search-result-mode-area .total-num {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0 2rem;
}
.car-search-result-mode-area .total-num strong {
  color: #FF5D16;
  font-size: 2rem;
}
.car-search-result-mode-area .mode-area {
  background: #FAF9F8;
  padding: 0.5rem;
  border-radius: 0.6rem;
}
.car-search-result-mode-area .mode-area ul {
  display: flex;
}
.car-search-result-mode-area .mode-area ul li + li {
  margin-left: 1.2rem;
}
.car-search-result-mode-area .mode-area ul li a {
  width: 10.1rem;
  display: block;
  color: #999999;
  font-size: 1.3rem;
  height: 3.3rem;
  line-height: 3.3rem;
  font-weight: 600;
  text-align: center;
}
.car-search-result-mode-area .mode-area ul li a.active {
  background: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.0588235294);
  border-radius: 4px;
  color: #FF5D16;
}
.car-search-result-mode-area .drop-down-box {
  margin: 0 1rem;
}

.car-search-result-table {
  margin-top: 1.8rem;
}
.car-search-result-table .car-btn-area {
  margin-top: 2rem;
}
.car-search-result-table .car-btn-area .btn-type03 + .btn-type03 {
  margin-left: 1rem;
}
.car-search-result-table.type-sm {
  margin-top: 0;
}
.car-search-result-table.type-sm .car-info .car-info-detail .car-name {
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 700;
}
.car-search-result-table.type-sm .car-info .car-info-detail .car-etc span {
  font-size: 1.3rem;
  color: #757575;
  line-height: 1.3rem;
  font-weight: 500;
}
.car-search-result-table.type-sm .car-info .car-info-detail .price {
  padding-top: 0.7rem;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 700;
}
.car-search-result-table.type-sm .car-info .car-info-detail .price strong {
  color: #ff5d16;
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 1.6rem;
}
.car-search-result-table table {
  width: 100%;
  border-bottom: solid 0.1rem #E9E9E9;
}
.car-search-result-table table td {
  vertical-align: middle;
  text-align: center;
  padding: 2rem 0;
  border-top: solid 0.1rem #E9E9E9;
}
.car-search-result-table table td .btn-type02 {
  cursor: default;
  pointer-events: none;
}
.car-search-result-table .car-info {
  display: flex;
  align-items: center;
}
.car-search-result-table .car-info .thumb-img {
  width: 11.8rem;
  margin-right: 1.3rem;
  border-radius: 0.6rem;
  overflow: hidden;
  border: solid 0.1rem #e9e9e9;
}
.car-search-result-table .car-info .thumb-img span {
  display: block;
  background: #fff;
  text-align: center;
  padding: 0.6rem 0;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 700;
}
.car-search-result-table .car-info .thumb-img img {
  width: 100%;
}
.car-search-result-table .car-info .car-info-detail {
  text-align: left;
}
.car-search-result-table .car-info .car-info-detail .tag span {
  display: inline-block;
  padding: 0.6rem;
  background: #efefef;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 500;
  border-radius: 0.2rem;
}
.car-search-result-table .car-info .car-info-detail .tag span + span {
  margin-left: 0.5rem;
}
.car-search-result-table .car-info .car-info-detail .car-name {
  text-align: left;
  margin: 1rem 0 0.4rem 0;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
}
.car-search-result-table .car-info .car-info-detail .car-etc span {
  font-size: 1.4rem;
  color: #4F4F4F;
  line-height: 1.4rem;
  font-weight: 500;
}
.car-search-result-table .car-info .car-info-detail .car-etc span::before {
  content: "";
  width: 0.1rem;
  height: 1rem;
  background-color: #4F4F4F;
  display: inline-block;
  margin: 0 0.8rem;
}
.car-search-result-table .car-info .car-info-detail .car-etc span:first-child::before {
  display: none;
}
.car-search-result-table .car-info .car-info-detail .car-benefit {
  font-size: 1.3rem;
  line-height: 1.3rem;
  color: #757575;
  text-align: left;
  margin-top: 0.8rem;
}
.car-search-result-table .pre-price {
  font-size: 1.3rem;
  color: #4F4F4F;
  text-align: right;
  text-decoration: line-through;
  margin-bottom: 0.5rem;
}
.car-search-result-table .price {
  font-size: 1.4rem;
  line-height: 1.4rem;
  text-align: right;
  font-weight: 700;
}
.car-search-result-table .price + .price {
  margin-top: 1rem;
}
.car-search-result-table .price.small {
  font-size: 1.3rem;
  margin-top: 0.4rem;
}
.car-search-result-table .price .price-tit {
  padding-right: 1rem;
}
.car-search-result-table .price input {
  width: 7.8rem;
  height: 3.1rem;
  padding: 0 1.2rem;
  line-height: 2rem;
}
.car-search-result-table .price input.ipt-pay {
  color: #FF5D16;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: right;
  border-radius: 0.4rem;
}
.car-search-result-table .price strong {
  color: #FF5D16;
  font-weight: 900;
  font-size: 2rem;
  line-height: 2rem;
}
.car-search-result-table .tit-point {
  color: #FF5D16;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.3rem;
}
.car-search-result-table .price-txt {
  color: #757575;
  font-size: 1rem;
  text-align: right;
  padding-top: 0.4rem;
}
.car-search-result-table .ad-ing {
  font-size: 1.4rem;
  color: #4F4F4F;
  text-align: left;
  margin-bottom: 0.5rem;
}
.car-search-result-table .diagnosis {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
  text-align: left;
}
.car-search-result-table .diagnosis.diagnosis-reservation a {
  color: #FF5D16;
  text-decoration: underline;
  font-weight: 700;
}
.car-search-result-table .diagnosis.diagnosis-reservation a::after {
  content: "";
  width: 1rem;
  height: 1rem;
  border-bottom: solid 0.1rem #FF5D16;
  border-right: solid 0.1rem #FF5D16;
  display: inline-block;
  transform: rotate(-47deg);
}
.car-search-result-table .diagnosis.diagnosis-none {
  color: #757575;
}
.car-search-result-table .diagnosis.diagnosis-pd {
  padding-left: 4rem;
  margin-bottom: 1.05rem;
}
.car-search-result-table .view-num {
  display: flex;
}
.car-search-result-table .view-num span {
  padding-left: 1.8rem;
  display: block;
  font-size: 1.2rem;
  font-weight: 400;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 1.6rem;
  letter-spacing: 0.1rem;
  background-image: url(/UIDev/v2/images/icon/view-icon.png);
}
.car-search-result-table .view-num span.like {
  margin-left: 1rem;
  background-image: url(/UIDev/v2/images/icon/like-icon.png);
}
.car-search-result-table .button-area {
  display: flex;
  flex-wrap: wrap;
}
.car-search-result-table .button-area .btn-type04 {
  display: block;
  width: 8rem;
  padding: 0;
  margin-bottom: 0.5rem;
  flex-shrink: 0;
}
.car-search-result-table .button-area .btn-type04 + .btn-type04 {
  margin-left: 0.5rem;
}
.car-search-result-table .button-area .btn-type04:nth-of-type(3) {
  margin-left: 0;
}
.car-search-result-table .button-area .btn-type04.full {
  width: 100%;
  margin-left: 0;
  margin-bottom: 0;
}
.car-search-result-table .button-area .btn-type04.full em {
  color: #FF5D16;
}
.car-search-result-table .button-area2 {
  text-align: right;
}
.car-search-result-table .button-area2 button {
  margin: 0.25rem 0 0.5rem 0.25rem;
}
.car-search-result-table .button-area2 button:first-child {
  margin-left: 0;
}

.txt-info {
  color: #757575;
  line-height: 1.8rem;
}

.txt-list-tit {
  line-height: 1.4rem;
  color: #4F4F4F;
  font-size: 1.4rem;
  font-weight: 500;
}

.txt-list-tit + .txt-list {
  padding-top: 1.4rem;
}

.txt-list.sm > li {
  position: relative;
  line-height: 1.8rem;
  padding-left: 1rem;
  color: #666;
  font-size: 1.2rem;
}
.txt-list.sm > li > .dot {
  position: absolute;
  left: 0.3rem;
  top: 0.7rem;
  display: block;
  width: 0.2rem;
  height: 0.2rem;
  border-radius: 50%;
  background-color: #999;
  color: #999;
}
.txt-list > li {
  position: relative;
  line-height: 1.8rem;
  padding-left: 1rem;
  color: #666;
  font-size: 1.3rem;
}
.txt-list > li > .icon {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 1rem;
  height: 2.4rem;
  line-height: 2.4rem;
  color: #666;
}
.txt-list > li > .dot {
  position: absolute;
  left: 0.3rem;
  top: 0.7rem;
  display: block;
  width: 0.2rem;
  height: 0.2rem;
  border-radius: 50%;
  background-color: #999;
  color: #999;
}

.option-info {
  width: 100%;
  font-size: 0;
}
.option-info dt, .option-info dd {
  padding: 0.2rem 0;
  display: inline-block;
  text-align: left;
  vertical-align: top;
}
.option-info dt {
  width: 42%;
  color: #4F4F4F;
  font-size: 1.3rem;
  font-weight: 400;
}
.option-info dd {
  width: 58%;
  font-size: 1.3rem;
  font-weight: 700;
}

.paginate {
  display: -webkit-box;
  margin: 3rem auto 0 auto;
  max-width: 20rem;
}
.paginate a, .paginate strong {
  display: -webkit-box;
  -webkit-box-flex: 1;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  position: relative;
  height: 2.7rem;
  text-decoration: none;
  color: #999;
  font-size: 1.3rem;
  font-weight: 600;
}
.paginate strong span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  line-height: 2.7rem;
  font-size: 1.3rem;
  z-index: 2;
}
.paginate strong span:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  background: #364f7f;
  color: #fff;
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 100%;
  margin-left: -1.3rem;
  z-index: -1;
}
.paginate .prev, .paginate .next {
  text-indent: -999em;
}
.paginate .prev:after, .paginate .next:after {
  content: "";
  border: solid #222;
  position: absolute;
  border-width: 0 0.2rem 0.2rem 0;
  display: inline-block;
  padding: 0.2rem;
  left: 50%;
  top: 50%;
  margin: -0.3rem 0 0 -0.4rem;
  transition: 0.6s ease;
}
.paginate .prev:after {
  transform: rotate(135deg);
}
.paginate .next:after {
  transform: rotate(-45deg);
}
.paginate.orange strong span:after {
  background: #ff5d16;
}

.header-area {
  border-bottom: 0.1rem solid #EDEDED;
}
.header-area .header-area-grid {
  width: 126rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 126rem;
  margin: 0 auto;
  height: 13.5rem;
  text-align: right;
}
.header-area .header-area-grid .header-logo {
  position: absolute;
  left: 0.3rem;
  top: 5.3rem;
  display: block;
  width: 11.5rem;
  height: 5rem;
  margin: 0;
  padding: 0;
  z-index: 2;
}
.header-area .header-area-grid .header-nav {
  position: relative;
  height: 2.5rem;
  padding: 8rem 0 3rem 0;
  text-align: right;
}
.header-area .header-area-grid .header-nav .gnb-menu {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 2rem 0 0;
  list-style: none;
  font-size: 0;
  vertical-align: top;
}
.header-area .header-area-grid .header-nav .gnb-menu > li {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 1.5rem;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: bold;
}
.header-area .header-area-grid .header-nav .gnb-menu > li > a:hover {
  color: #FF5D16;
}
.header-area .header-area-grid .header-nav .gnb-util {
  position: relative;
  display: inline-block;
  color: #454545;
}
.header-area .header-area-grid .header-nav .gnb-util::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -0.1rem;
  display: inline-block;
  width: 0.1rem;
  height: 1.8rem;
  margin-top: -0.9rem;
  background: #C8C8C8;
}
.header-area .header-area-grid .header-nav .gnb-util .membrt-info {
  position: relative;
  display: inline-block;
  font-size: 1.4rem;
  line-height: 2.5rem;
  border: 0.1rem solid transparent;
  margin: 0 0 0 3.5rem;
  color: #454545;
}
.header-area .header-area-grid .header-nav .gnb-util .membrt-info strong {
  color: #FF5D16;
}
.header-area .header-area-grid .header-nav .gnb-util .navigation-util {
  position: relative;
  display: inline-block;
  font-size: 1.4rem;
  line-height: 2.5rem;
  border: 0.1rem solid transparent;
  margin: 0 0 0 3.5rem;
  color: #454545;
}
.header-area .header-area-grid .header-nav .gnb-util .navigation-util .icon-common {
  position: relative;
  top: -0.1rem;
  display: inline-block;
  width: 1.7rem;
  height: 1.7rem;
  margin-right: 0.4rem;
  background: url("/UIDev/v2/images/icon/icon_common_v20210915.png") no-repeat;
  vertical-align: middle;
  overflow: hidden;
}
.header-area .header-area-grid .header-nav .gnb-util .navigation-util .icon-common.sign-out {
  background-position: -5rem top;
}
.header-area .header-area-grid .header-nav .navigation-quick {
  position: absolute;
  right: 0;
  top: 3rem;
}
.header-area .header-area-grid .header-nav .navigation-quick > a {
  position: relative;
  display: inline-block;
  margin: 0 0 0 0.1rem;
  padding: 0 1.2rem;
  font-size: 1.4rem;
  overflow: visible;
}
.header-area .header-area-grid .header-nav .navigation-quick > a:first-child:before {
  display: none;
}
.header-area .header-area-grid .header-nav .navigation-quick > a:before {
  content: "";
  position: absolute;
  left: -0.1rem;
  top: 50%;
  display: inline-block;
  width: 0.1rem;
  height: 1.2rem;
  margin-top: -0.6rem;
  background: #C8C8C8;
  vertical-align: middle;
}
.header-area .header-area-grid .header-nav .navigation-quick > a.all-menu {
  position: relative;
  padding-right: 1.8rem;
}
.header-area .header-area-grid .header-nav .navigation-quick > a.all-menu:after {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -0.2rem;
  display: block;
  width: 0;
  height: 0;
  border: inset 0.5rem;
  content: "";
  border-bottom-width: 0;
  border-top-style: solid;
  border-color: #464646 transparent transparent;
}

.footer-area {
  padding: 5rem 0 9.5rem 0;
  border-top: 0.1rem solid #F3F3F3;
  background: #FDFDFD;
  color: #8B8B8B;
  font-size: 1.6rem;
}
.footer-area .footer-area-grid {
  width: 126rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.footer-area .footer-area-grid .footer-ci {
  display: block;
  width: 13rem;
  height: 3rem;
}
.footer-area .footer-area-grid .footer-ci img {
  vertical-align: top;
}
.footer-area .footer-area-grid .footer-terms {
  position: relative;
  margin: 2.5rem 0 0 0;
  padding: 0;
  overflow: hidden;
}
.footer-area .footer-area-grid .footer-terms > a {
  float: left;
  position: relative;
  margin-left: 0.1rem;
  padding: 0 2.5rem;
  font-size: 1.6rem;
  font-style: normal;
}
.footer-area .footer-area-grid .footer-terms > a.emphasize {
  color: #000;
}
.footer-area .footer-area-grid .footer-terms > a:hover {
  text-decoration: underline;
}
.footer-area .footer-area-grid .footer-terms > a:first-child {
  padding-left: 0;
}
.footer-area .footer-area-grid .footer-terms > a:first-child::before {
  display: none;
}
.footer-area .footer-area-grid .footer-terms > a::before {
  content: "";
  position: absolute;
  left: -1px;
  top: 50%;
  display: inline-block;
  width: 1px;
  height: 13px;
  margin-top: -6px;
  background: #CECECE;
  vertical-align: middle;
}
.footer-area .footer-area-grid .footer-info {
  margin-top: 2.5rem;
}
.footer-area .footer-area-grid .footer-info > div {
  display: block;
}
.footer-area .footer-area-grid .footer-info > div > span {
  position: relative;
  margin-left: 0.1rem;
  padding: 0 2.5rem;
  font-size: 1.6rem;
  font-style: normal;
}
.footer-area .footer-area-grid .footer-info > div > span:first-child {
  padding-left: 0;
}
.footer-area .footer-area-grid .footer-info > div > span:first-child::before {
  display: none;
}
.footer-area .footer-area-grid .footer-info > div > span::before {
  content: "";
  position: absolute;
  left: -0.1rem;
  top: 50%;
  display: inline-block;
  width: 0.1rem;
  height: 1.3rem;
  margin-top: -0.6rem;
  background: #CECECE;
  vertical-align: middle;
}
.footer-area .footer-area-grid .footer-notice {
  margin-top: 2.5rem;
  font-size: 1.5rem;
  line-height: 2.4rem;
}
.footer-area .footer-area-grid .footer-copy {
  margin-top: 2.5rem;
}
.footer-area .footer-area-grid .footer-customer {
  position: absolute;
  right: 0;
  top: 5.5rem;
  color: #222;
}
.footer-area .footer-area-grid .footer-customer .customer-content {
  position: relative;
  padding: 1rem 2.5rem;
  background: #F7F7F7;
  border-radius: 1rem;
  border: 0.1rem solid #DDD;
  font-size: 0;
}
.footer-area .footer-area-grid .footer-customer .customer-content-line {
  display: inline-block;
  width: 0;
  height: 3.7rem;
  margin: 0 1.2rem;
  border-right: 0.1rem dashed #DDD;
  vertical-align: middle;
}
.footer-area .footer-area-grid .footer-customer .customer-content-item {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
}
.footer-area .footer-area-grid .footer-customer .customer-content-item-title {
  display: block;
  font-size: 1.4rem;
}
.footer-area .footer-area-grid .footer-customer .customer-content-tel {
  display: block;
  font-size: 1.6rem;
  font-weight: bold;
}
.footer-area .footer-area-grid .footer-customer .customer-content-foot {
  display: block;
  margin: 0.3rem 0 0 0;
  font-size: 1.2rem;
}
.footer-area .footer-area-grid .footer-customer-head {
  font-size: 1.4rem;
  font-weight: normal;
  margin: 0 0 1rem 0;
  padding: 0;
}
.footer-area .footer-area-grid .footer-customer-title {
  font-size: 1.4rem;
}
.footer-area .footer-area-grid .icon-common {
  position: relative;
  top: 0;
  display: inline-block;
  width: 2rem;
  height: 1.9rem;
  margin-right: 0.4rem;
  background: url("/UIDev/v2/images/icon/icon_common_v20210915.png") no-repeat;
  background-position: -2.5rem -2.5rem;
  vertical-align: middle;
  overflow: hidden;
}
.footer-area .footer-area-grid .footer-customer-content {
  float: right;
  margin-left: 2rem;
  padding-left: 2.5rem;
  border-left: 0.1rem solid #DDD;
  line-height: 1;
}
.footer-area .footer-area-grid .footer-customer-tel {
  display: block;
  font-size: 2.8rem;
  font-weight: bold;
  letter-spacing: -0.1rem;
}
.footer-area .footer-area-grid .footer-customer-time {
  display: block;
  margin-top: 1rem;
  font-size: 1.7rem;
}
.footer-area .footer-area-grid .footer-app-award {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  width: 19.7rem;
  height: 4.8rem;
}
.footer-area .footer-area-grid .footer-app-award img {
  display: block;
  width: 100%;
  height: 100%;
}
.footer-area .footer-area-grid .certify-marks {
  display: block;
  margin-top: 1rem;
  text-align: right;
}
.footer-area .footer-area-grid .logo-certify {
  display: inline-block;
  width: 6rem;
  height: 6rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: transparent !important;
  font-size: xx-small !important;
  overflow: hidden;
  text-indent: -99.9rem;
}
.footer-area .footer-area-grid .logo-certify.logo-certify-ismsp {
  background-image: url("/UIDev/v2/images/common/logo-ismsp.png");
}
.footer-area .footer-area-grid .help-tooltip {
  position: relative;
}
.footer-area .footer-area-grid .help-tooltip:hover .help-tooltip-box {
  display: block;
}
.footer-area .footer-area-grid .help-tooltip .help-tooltip-box {
  position: absolute;
  bottom: 100%;
  left: 0;
  display: none;
  min-width: 22.5rem;
  padding: 1.2rem 1.4rem;
  border: 0.1rem solid #60584c;
  background-color: #f9fcff;
  -webkit-box-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.05);
  font-size: 1.4rem;
  line-height: 1.42;
  text-align: left;
  color: #60584c;
  white-space: nowrap;
}
.footer-area .footer-area-grid .help-tooltip .help-tooltip-box {
  bottom: 100%;
  margin-bottom: 0.5rem;
  left: auto;
  right: -1rem;
}
.footer-area .footer-area-grid .help-tooltip .help-tooltip-box.help-tooltip-box-top .help-tooltip-arrow {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
  top: auto;
  bottom: -0.7rem;
}
.footer-area .footer-area-grid .help-tooltip .help-tooltip-box.help-tooltip-box-left {
  left: -1rem;
}
.footer-area .footer-area-grid .help-tooltip .help-tooltip-box.help-tooltip-box-left .help-tooltip-arrow {
  left: 3rem;
}
.footer-area .footer-area-grid .help-tooltip .help-tooltip-box.help-tooltip-box-right .help-tooltip-arrow {
  left: auto;
  right: 3rem;
}
.footer-area .footer-area-grid .help-tooltip .help-tooltip-arrow {
  position: absolute;
  top: -0.7rem;
  left: 50%;
  width: 1.4rem;
  height: 1.4rem;
  margin-left: -0.7rem;
  background-color: #f9fcff;
  -webkit-box-shadow: -0.1rem -0.1rem 0 #60584c;
  box-shadow: -0.1rem -0.1rem 0 #60584c;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.footer-area .footer-area-grid .help-tooltip.help-tooltip-show .help-tooltip-box {
  display: inline-block !important;
}

button.disabled {
  opacity: 0.2;
  cursor: default;
}

.btn-type01 {
  color: #fff;
  background: #FF5D16;
}

.btn-type02 {
  color: #fff;
  background: #FFDFD0;
}

.btn-type03 {
  color: #FF5D16;
  border: solid 0.1rem #FFDFD0;
  box-sizing: border-box;
}

.btn-type04 {
  color: #000;
  border: solid 0.1rem #D4D4D4;
  box-sizing: border-box;
}

.btn-type01, .btn-type02, .btn-type03, .btn-type04 {
  font-weight: 600;
  height: 4rem;
  line-height: 4rem;
  font-size: 1.4rem;
  border-radius: 0.2rem;
  padding: 0 2rem;
  font-family: "Apple SD Gothic Neo", -apple-system, "Roboto", "NotoSansKR", "Arial", sans-serif;
  box-sizing: border-box;
}
.btn-type01.sm, .btn-type02.sm, .btn-type03.sm, .btn-type04.sm {
  height: 28px;
  line-height: 28px;
  font-size: 1.3rem;
  padding: 0 1rem;
}

.btn-reset {
  height: 4rem;
  line-height: 4rem;
  font-size: 1.4rem;
  color: #000;
  border-radius: 0.2rem;
  border: solid 0.1rem #000;
  padding: 0 2rem;
  box-sizing: border-box;
  font-family: "Apple SD Gothic Neo", -apple-system, "Roboto", "NotoSansKR", "Arial", sans-serif;
}

.btn-reset i {
  display: inline-block;
  margin-right: 0.6rem;
  width: 1rem;
}
.btn-reset i img {
  width: 100%;
}

.ui-datepicker {
  display: none;
  width: 17em;
  padding: 0.2em 0.2em 0;
}
.ui-datepicker.ui-widget-content {
  border: 1px solid #c5c5c5;
  border-radius: 3px;
  background: #fff;
  color: #333333;
}
.ui-datepicker.ui-widget-content a {
  color: #333;
}
.ui-datepicker table {
  width: 100%;
  font-size: 0.9em;
  border-collapse: collapse;
  margin: 0 0 0.4em;
}
.ui-datepicker table th {
  padding: 0.7em 0.3em;
  text-align: center;
  font-weight: bold;
  border: 0;
}
.ui-datepicker table td {
  border: 0;
  padding: 1px;
  text-align: center;
}
.ui-datepicker table td span, .ui-datepicker table td a {
  display: block;
  padding: 0.2em;
  text-align: right;
  text-decoration: none;
}
.ui-datepicker .ui-widget-header {
  height: 40px;
  background: #fff;
  border: 0;
  line-height: 40px;
}
.ui-datepicker .ui-widget-header a {
  position: absolute;
  top: 0;
  color: #333;
}
.ui-datepicker .ui-widget-header a.ui-datepicker-prev {
  width: 20px;
  height: 40px;
  text-indent: -9999em;
}
.ui-datepicker .ui-widget-header a.ui-datepicker-prev:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  background: url(/UIDev/v2/images/icon/bg-calendar-arrow-l.png) no-repeat;
  background-size: contain;
  width: 6px;
  height: 12px;
  margin: -3px 0 0 -6px;
}
.ui-datepicker .ui-widget-header a.ui-datepicker-next {
  right: 0;
  width: 20px;
  height: 40px;
  text-indent: -9999em;
}
.ui-datepicker .ui-widget-header a.ui-datepicker-next:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  background: url(/UIDev/v2/images/icon/bg-calendar-arrow-r.png) no-repeat;
  background-size: contain;
  width: 6px;
  height: 12px;
  margin: -3px 0 0 -6px;
}
.ui-datepicker .ui-datepicker-title {
  display: -webkit-box;
  -webkit-box-pack: center;
  padding: 0 20px;
  margin: 0;
  line-height: 40px;
}
.ui-datepicker .ui-datepicker-title select {
  display: -webkit-box;
  -webkit-box-flex: 1;
  margin: 0 5px !important;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block;
  height: 40px;
  padding: 0 5px 0 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff url(/UIDev/v2/images/icon/bg-select.png) no-repeat right 0;
  background-size: 33px 80px;
  color: #222;
  font-size: 15px;
  font-weight: 600;
}
.ui-datepicker .ui-datepicker-title span.ui-datepicker-year, .ui-datepicker .ui-datepicker-title .ui-datepicker-month {
  -webkit-box-flex: 1;
  font-size: 15px;
  font-weight: 600;
  line-height: 40px;
}
.ui-datepicker .ui-state-default, .ui-datepicker .ui-widget-content .ui-state-default, .ui-datepicker .ui-widget-header .ui-state-default, .ui-datepicker .ui-button, .ui-datepicker html .ui-button.ui-state-disabled:hover, .ui-datepicker html .ui-button.ui-state-disabled:active {
  border: 0 !important;
  background: none !important;
  text-align: center;
}
.ui-datepicker .ui-datepicker-today a {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: auto;
  color: #fff !important;
  background-color: #336fc9 !important;
  border-radius: 25px;
}
.ui-datepicker .ui-state-active, .ui-datepicker .ui-widget-content .ui-state-active {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: auto;
  color: #222 !important;
  background-color: #fffa90 !important;
  border-radius: 25px;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  display: none;
}

.form-chk {
  position: relative;
}
.form-chk input[type=checkbox] {
  display: none;
  width: 0;
  height: 0;
  border: 0 none;
  font-size: 0;
}
.form-chk input[type=checkbox]:checked + label::before {
  background-color: #fff;
  background-image: url(/UIDev/v2/images/icon/checked.png);
  border: solid 1px #FF5D16;
}
.form-chk input[type=checkbox] + label {
  cursor: pointer;
}
.form-chk input[type=checkbox] + label:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #ddd;
  background-color: #ddd;
  background-image: url(/UIDev/v2/images/icon/check.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 7px;
  width: 18px;
  height: 18px;
  text-align: center;
  font-size: 10px;
  margin-right: 5px;
  vertical-align: middle;
}

.form-radio input[type=radio] {
  display: none;
  width: 1;
  height: 1;
}
.form-radio input[type=radio]:checked + label::before {
  border: solid 1px #FF5D16;
}
.form-radio input[type=radio]:checked + label:after {
  background: #FF5D16;
}
.form-radio input[type=radio] + label {
  padding-left: 23px;
  position: relative;
}
.form-radio input[type=radio] + label::before {
  width: 18px;
  height: 18px;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border: solid 1px #ddd;
  border-radius: 100%;
}
.form-radio input[type=radio] + label::after {
  width: 8px;
  height: 8px;
  content: "";
  position: absolute;
  left: 5.5px;
  top: 50%;
  transform: translateY(-50%);
  background: #ddd;
  border-radius: 100%;
}

.txar-tp1 {
  display: block;
  width: 100%;
  padding: 1.6rem 2rem;
  border: 1px solid #E9E9E9;
  border-radius: 0.6rem;
  box-sizing: border-box;
  font-family: "Apple SD Gothic Neo", -apple-system, "Roboto", "NotoSansKR", "Arial", sans-serif;
  resize: none;
  background-color: #fff;
}
.txar-tp1::placeholder {
  color: #999;
}

input[type=text]:disabled, input[type=password]:disabled, input[type=number]:disabled {
  background: #E9E9E9;
  border: solid 1px #ccc;
}

input[type=text]:disabled::placeholder, input[type=password]:disabled::placeholder, input[type=number]:disabled::placeholder {
  color: #ccc;
}

input[type=text], input[type=password], input[type=number] {
  border: solid 1px #E9E9E9;
  height: 40px;
  line-height: 40px;
  border-radius: 2px;
  font-size: 13px;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
}

input[type=text]::placeholder, input[type=password]::placeholder, input[type=number]::placeholder {
  color: #E9E9E9;
}

input[type=number]::-webkit-outer-spin-button, ::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-date {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 220px;
  padding: 6px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
}
.input-date > input {
  display: block;
  margin: 0;
  padding: 0;
  height: 26px;
  width: 100%;
  border: 0 none;
  font-size: 16px;
  color: #222;
  background-color: transparent;
  outline: 0;
  position: relative;
  padding-right: 28px;
  z-index: 2;
}
.input-date:after {
  content: "";
  position: absolute;
  right: 9px;
  top: 50%;
  display: block;
  width: 23px;
  height: 23px;
  margin-top: -11.5px;
  background: url(/UIDev/v2/images/icon/calendar.png) no-repeat;
  background-position: 0 0;
  background-size: 23px;
}
.input-date.readonly, .input-date.disabled {
  background-color: #E9E9E9;
}
.input-date.readonly > input, .input-date.disabled > input {
  cursor: default;
  outline: none;
}

.popup {
  position: fixed;
  width: 56.1rem;
  background: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: none;
}
.popup.md {
  width: 76.8rem;
}
.popup.lg {
  width: 145.1rem;
}
.popup .popup-title {
  position: relative;
  padding: 4rem 4rem 4.5rem 4rem;
  font-size: 2rem;
  font-weight: 300;
}
.popup .popup-sub-title {
  position: absolute;
  left: 4rem;
  bottom: 1.6rem;
  font-size: 1.3rem;
  font-weight: 500;
}
.popup .popup-body {
  padding: 0 4rem 4rem 4rem;
  box-sizing: border-box;
}
.popup .popup-body .inner {
  overflow: auto;
}
.popup .popup-btn {
  display: flex;
  padding: 0 4rem 4rem 4rem;
}
.popup .popup-btn .btn-type01 + .btn-type03 {
  margin-left: 1.5rem;
}
.popup .popup-btn .btn-type01, .popup .popup-btn .btn-type03 {
  height: 60px;
  line-height: 60px;
  flex: 1;
  font-size: 1.8rem;
  display: block;
}

.popup-bg {
  z-index: 9;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
}

.pop-scroll .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 4px;
  background-color: #AAAAAA;
}
.pop-scroll .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.pop-scroll .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
  background-color: #AAAAAA;
}
.pop-scroll .mCSB_scrollTools .mCSB_draggerRail {
  width: 1px;
  background-color: #ddd;
}

.custom-select-box {
  position: relative;
}
.custom-select-box .custom-select-selection {
  border-radius: 0.4rem;
  border: solid 0.1rem #E9E9E9;
  height: 4rem;
  background: #fff url("/UIDev/v2/images/icon/down.png") calc(100% - 17px) center no-repeat;
  background-size: 2rem;
  padding: 0rem 4.4rem 0rem 1.4rem;
  width: 100%;
  line-height: 4rem;
  display: block;
  cursor: pointer;
}
.custom-select-box .custom-select-option-box {
  position: absolute;
  top: 4rem;
  display: none;
  border: solid 0.1rem #E9E9E9;
  max-height: 15.3rem;
  overflow-y: scroll;
  width: 100%;
  z-index: 1;
}
.custom-select-box .custom-select-option-box:hover li.active {
  background: #ccc;
  color: black;
}
.custom-select-box .custom-select-option-box li {
  line-height: 3.8rem;
  padding: 0 0.9rem 0 1.5rem;
  font-size: 1.6rem;
  color: #000;
  cursor: pointer;
  background: #fff;
}
.custom-select-box .custom-select-option-box li:hover {
  background-color: #FF5D16;
  color: #fff;
}
.custom-select-box .custom-select-option-box li.active {
  background-color: #FF5D16;
  color: #fff;
}

.drop-down-box {
  position: relative;
}
.drop-down-box .drop-down-box-tit a {
  font-weight: 700;
  font-size: 1.3rem;
  color: #000;
  display: inline-block;
  padding: 0 1rem;
  box-sizing: border-box;
  position: relative;
}
.drop-down-box .drop-down-box-tit a::after {
  content: "";
  background: #fff url("/UIDev/v2/images/icon/down.png") 0 0 no-repeat;
  background-size: 0.9rem;
  margin-left: 0.6rem;
  width: 0.9rem;
  height: 0.7rem;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -0.35rem;
  display: inline-block;
}
.drop-down-box .drop-down-box-option {
  position: absolute;
  display: none;
  top: 3rem;
  border-radius: 0.6rem;
  background: #fff;
  padding: 1rem 0rem;
  width: 120%;
  text-align: center;
  box-shadow: 2px 2px 6px 4px rgba(0, 0, 0, 0.0588235294);
}
.drop-down-box .drop-down-box-option li {
  font-size: 1.3rem;
  color: #000;
  cursor: pointer;
}
.drop-down-box .drop-down-box-option li + li {
  margin-top: 1rem;
}
.drop-down-box .drop-down-box-option li:hover {
  color: #FF5D16;
}

.tab-list {
  overflow-x: hidden;
}
.tab-list ul {
  text-align: right;
}
.tab-list ul li {
  display: inline-block;
  text-align: center;
  background: #FAF9F7;
  border: 1px solid #E9E9E9;
  border-bottom: none;
  position: relative;
}
.tab-list ul li a {
  width: 162px;
  display: block;
  height: 47px;
  line-height: 47px;
  font-size: 16px;
  color: #999;
}
.tab-list ul li.on {
  background: #fff;
}
.tab-list ul li.on a {
  color: #000;
}
.tab-list ul li + li {
  margin-left: 10px;
}
.tab-list ul li.on::before, .tab-list ul li.on::after {
  content: "";
  z-index: 1;
  width: 1000%;
  left: -1000%;
  bottom: 1px;
  height: 1px;
  background: #e9e9e9;
  position: absolute;
}
.tab-list ul li.on::after {
  left: auto;
  right: -1000%;
}

.tab-content {
  padding-top: 18px;
}
.tab-content > div {
  display: none;
}
.tab-content > div#tab01 {
  display: block;
}

.tooltip-btn {
  width: 1.2rem;
  height: 1.2rem;
  background: #ffdfd0;
  color: #FF5D16;
  font-size: 0.9rem;
  font-weight: 700;
  position: relative;
  display: inline-block;
  border-radius: 100%;
  line-height: 1.2rem;
  box-sizing: border-box;
  padding-top: 0.2rem;
  margin-left: 0.2rem;
  text-align: center;
}

.tooltip {
  display: none;
  position: absolute;
  top: -7rem;
  right: -14rem;
  background: #fff;
  padding: 1.3rem 1.5rem;
  border: solid 0.1rem #E9E9E9;
  text-align: left;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: #4f4f4f;
  width: 17.5rem;
  box-sizing: border-box;
}
.tooltip.active {
  display: block;
}
.tooltip::before {
  content: "";
  width: 0.84rem;
  height: 0.84rem;
  border-bottom: solid 0.1rem #E9E9E9;
  border-right: solid 0.1rem #E9E9E9;
  display: block;
  position: absolute;
  transform: rotate(45deg);
  background: #fff;
  bottom: -0.37rem;
  left: 2.5rem;
}
.tooltip a {
  display: block;
  text-decoration: underline;
}
.tooltip a::after {
  content: "";
  width: 0.84rem;
  height: 0.84rem;
  border-bottom: solid 0.1rem #4F4F4F;
  border-right: solid 0.1rem #4F4F4F;
  display: inline-block;
  transform: rotate(-47deg);
}

.form-list > li {
  position: relative;
  padding-bottom: 4rem;
}
.form-list > li:last-child {
  padding-bottom: 3rem;
}
.form-list > li .form-tit {
  font-size: 1.5rem;
  font-weight: 700;
}
.form-list > li .form-tit + .form-cont {
  margin-top: 1.5rem;
}
.form-list > li .form-cont .form-radio + .form-radio {
  margin-left: 1.5rem;
}
.form-list > li .form-cont .coin {
  position: absolute;
  right: 0;
  top: 0.7rem;
}

.coin {
  font-size: 2.8rem;
  font-weight: 700;
  color: #FF5D16;
}
.coin.off {
  color: rgba(153, 153, 153, 0.6);
}
.coin.off::after {
  content: "c";
  background-color: #E9E9E9;
  color: rgba(153, 153, 153, 0.6);
  font-size: 1.4rem;
  line-height: 1.8rem;
}
.coin::after {
  content: "c";
  position: relative;
  top: -0.6rem;
  display: inline-block;
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background-color: #FFCC00;
  color: #FF8E0A;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.display-flex-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wid100 {
  width: 100%;
}

.wid100 + .wid100 {
  margin-left: 1rem;
}

.box-event-area {
  position: relative;
  height: 8.1rem;
  margin: 3rem 0;
  padding: 2.4rem 3.6rem;
  background-color: #FAF9F8;
  border-radius: 1rem;
  font-size: 1.5rem;
  color: #4F4F4F;
  font-weight: 700;
}
.box-event-area .icon-area {
  position: absolute;
  right: 4.6rem;
  top: 1.6rem;
  width: 4.8rem;
  height: 4.8rem;
}
.box-event-area .icon-area.coin-img {
  background: url("/UIDev/v2/images/icon/icon-banner-rht.png") no-repeat;
}

.box-input-cont {
  display: none;
}
.box-input-cont.show {
  display: block;
}
.box-input-cont .p-tit {
  padding-left: 2.4rem;
  color: #757575;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: line-through;
}
.box-input-cont .p-tit:after {
  content: "";
  width: 1.5rem;
  height: 1.1rem;
  margin-left: 1.5rem;
  background: url("/UIDev/v2/images/icon/icon_arrow_lft.png") no-repeat;
  display: inline-block;
}
.box-input-cont .inp-money {
  position: relative;
  height: 4rem;
  border: solid 1px #e9e9e9;
  border-radius: 0.4rem;
  line-height: 4rem;
  font-size: 1.3rem;
  width: 100%;
  box-sizing: border-box;
}
.box-input-cont .inp-money input {
  height: 3.8rem;
  padding-right: 4rem;
  border: none;
  border-radius: 0.6rem;
  line-height: 3.8rem;
  vertical-align: top;
  outline: none;
  color: #FF5D16;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: right;
}
.box-input-cont .inp-money .t-txt {
  position: absolute;
  right: 1rem;
  top: 0.6rem;
  height: 2.6rem;
  color: rgba(153, 153, 153, 0.6);
  line-height: 26px;
}

.file-list {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.file-list > li {
  position: relative;
  height: 2.9rem;
  margin: 0.2rem 1rem 0.2rem 0;
  padding: 0.4rem 3.9rem 0.7rem 1rem;
  border-radius: 0.2rem;
  background-color: #FAF9F8;
  display: inline-block;
}
.file-list > li::before {
  content: "";
  width: 1.2rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  background: url("/UIDev/v2/images/icon/icon-clip.png") no-repeat;
  display: inline-block;
  vertical-align: -0.2rem;
}
.file-list > li:last-child {
  margin-left: 0;
}
.file-list > li .btn-file-del {
  position: absolute;
  right: 0;
  top: 0;
  width: 3.9rem;
  height: 2.9rem;
  background: url("/UIDev/v2/images/icon/icon-file-del.png") no-repeat;
  background-position: right 13px top 10px;
}
.file-list > li .btn-file-del > span {
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  padding: 0;
  margin: -0.1rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.color-main {
  color: #FF5D16;
}

.txt-sub-color3 {
  font-size: 1.3rem;
  color: rgba(153, 153, 153, 0.6);
}

.ul-list .tit-normal {
  padding-top: 4rem;
  padding-bottom: 2.4rem;
  font-weight: 700;
}
.ul-list .tit-normal:first-child {
  padding-top: 0;
}
.ul-list .textarea-views {
  white-space: pre-line;
  font-size: 1.3rem;
  color: #4F4F4F;
  line-height: 2.6rem;
}

.filebox input[type=file] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.filebox label {
  cursor: pointer;
  display: inline-block;
  color: #000;
  font-weight: 700;
}
.filebox label > span {
  vertical-align: middle;
}
.filebox label::after {
  content: "파일선택 ";
  width: 5.4rem;
  height: 2.2rem;
  margin-left: 0.6rem;
  padding-right: 0.2rem;
  background: #FAF9F8;
  border: 1px solid #E9E9E9;
  border-radius: 2px;
  display: inline-block;
  font-size: 1rem;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
