@charset "UTF-8";
// 변수명

// breakpoints
$pc-min-width: 126rem;

// url
$font-root: '/UIDev/v2/font/';
$img-root: '/UIDev/v2/images/';

// font color
$font-color-black: #000;
$font-color-gray: #444;
$font-color-light-gray: #666;
$font-color-white: #ffffff;
$font-color-yellow: #ffcc00;
$font-color-red: #ff0000;

// font size
$font-size-small: 1.2rem;
$font-size-xsmall: 1rem;
$font-size-normal: 1.4rem;
$font-size-large: 1.6rem;
$font-size-xlarge: 1.8rem;

$font-size-title-small: 1.6rem;
$font-size-title-normal: 2rem;
$font-size-title-large: 2.4rem;

// font weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// background
$bg-color-white: #fff;
$bg-color-gray: #f8f8f8;
$bg-color-yellow: #ffcc00;

// fonts
$font-family-normal: -apple-system, 'Roboto', 'NotoSansKR', 'Arial', sans-serif;
$font-family-kbfg: 'KBFGText', -apple-system, 'Roboto', 'NotoSansKR', 'Arial', sans-serif;
$font-family-apply: 'Apple SD Gothic Neo', -apple-system, 'Roboto', 'NotoSansKR', 'Arial', sans-serif;

//color
$main-color:#FF5D16;
$sc-color:#FFCC00;
$pt-color:#326FC8;
//$bk-color:#000;
$wt-color:#fff;
$sub-color1:#4F4F4F;
$sub-color2:#757575;
$sub-color3:#9999;
$sub-color4:#E9E9E9;
$sub-color5:#FFDFD0;