@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  color: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.4em;
  text-decoration: inherit;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body {
  width: 100%;
  height: 100%;
}

*:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1.4em;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

img, button, a {
  vertical-align: middle;
}

button, a {
  background: none;
  border: none;
  cursor: pointer;
}

caption {
  opacity: 0;
  position: absolute;
  display: block;
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: transparent;
}

/* KB금융 본문체 Medium*/
@font-face {
  font-family: "KBFGText";
  font-style: normal;
  font-weight: 400;
  src: local("KBFGTextM"), url("/UIDev/v2/font/KBFGTextM.woff") format("woff"), url("/UIDev/v2/font/KBFGTextM.ttf") format("truetype"), url("/UIDev/v2/font/KBFGTextM.svg#KBFGTextM") format("svg");
}
/* KB금융 본문체 Bold*/
@font-face {
  font-family: "KBFGText";
  font-style: normal;
  font-weight: 700;
  src: local("KBFGTextB"), url("/UIDev/v2/font/KBFGTextB.woff") format("woff"), url("/UIDev/v2/font/KBFGTextB.ttf") format("truetype"), url("/UIDev/v2/font/KBFGTextB.svg#KBFGTextB") format("svg");
}
/* KB금융 본문체 Light*/
@font-face {
  font-family: "KBFGText";
  font-style: normal;
  font-weight: 300;
  src: local("KBFGTextM"), url("/UIDev/v2/font/KBFGTextL.woff") format("woff"), url("/UIDev/v2/font/KBFGTextL.ttf") format("truetype"), url("/UIDev/v2/font/KBFGTextL.svg#KBFGTextL") format("svg");
}
/*KB금융 제목체 Light*/
@font-face {
  font-family: "KBFGDisplay";
  font-style: normal;
  font-weight: 300;
  src: local("KBFGDisplayL"), url("/UIDev/v2/font/KBFGDisplayL.woff") format("woff"), url("/UIDev/v2/font/KBFGDisplayL.ttf") format("truetype"), url("/UIDev/v2/font/KBFGDisplayL.svg#KBFGDisplayL") format("svg");
}
/*KB금융 제목체 Medium*/
@font-face {
  font-family: "KBFGDisplay";
  font-style: normal;
  font-weight: 500;
  src: local("KBFGDisplayM"), url("/UIDev/v2/font/KBFGDisplayM.woff") format("woff"), url("/UIDev/v2/font/KBFGDisplayM.ttf") format("truetype"), url("/UIDev/v2/font/KBFGDisplayM.svg#KBFGDisplayM") format("svg");
}
/*KB금융 제목체 Blod*/
@font-face {
  font-family: "KBFGDisplay";
  font-style: normal;
  font-weight: 700;
  src: local("KBFGDisplayB"), url("/UIDev/v2/font/KBFGDisplayB.woff") format("woff"), url("/UIDev/v2/font/KBFGDisplayB.ttf") format("truetype"), url("/UIDev/v2/font/KBFGDisplayB.svg#KBFGDisplayB") format("svg");
}
/*apple 산돌고딕 bold*/
@font-face {
  font-family: "Apple SD Gothic Neo";
  font-style: normal;
  font-weight: bold;
  src: local("AppleSDGothicNeoB"), url("/UIDev/v2/font/AppleSDGothicNeoB.ttf") format("truetype");
}
/*apple 산돌고딕 semibold*/
@font-face {
  font-family: "Apple SD Gothic Neo";
  font-style: normal;
  font-weight: 600;
  src: local("AppleSDGothicNeoSB"), url("/UIDev/v2/font/AppleSDGothicNeoSB.ttf") format("truetype");
}
/*apple 산돌고딕 normal*/
@font-face {
  font-family: "Apple SD Gothic Neo";
  font-style: normal;
  font-weight: 500;
  src: local("AppleSDGothicNeoM"), url("/UIDev/v2/font/AppleSDGothicNeoM.ttf") format("truetype");
}
/*apple 산돌고딕 light*/
@font-face {
  font-family: "Apple SD Gothic Neo";
  font-style: normal;
  font-weight: 400;
  src: local("AppleSDGothicNeoL"), url("/UIDev/v2/font/AppleSDGothicNeoL.ttf") format("truetype");
}
/*apple 산돌고딕 THIN*/
@font-face {
  font-family: "Apple SD Gothic Neo";
  font-style: normal;
  font-weight: 300;
  src: local("AppleSDGothicNeoT"), url("/UIDev/v2/font/AppleSDGothicNeoT.ttf") format("truetype");
}
.a11y-hidden {
  overflow: hidden !important;
  position: absolute !important;
  clip: rect(0, 0, 0, 0) !important;
  -webkit-clip-path: circle(0) !important;
          clip-path: circle(0) !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
}

.display-none {
  display: none !important;
}

.tal {
  text-align: left !important;
}

.tar {
  text-align: right !important;
}

.tac {
  text-align: center !important;
}

.font-kb {
  font-family: "Apple SD Gothic Neo", -apple-system, "Roboto", "NotoSansKR", "Arial", sans-serif !important;
}

.font-normal {
  font-family: -apple-system, "Roboto", "NotoSansKR", "Arial", sans-serif !important;
}

.fw-regular {
  font-weight: 400 !important;
}

.fw-medium {
  font-weight: 500 !important;
}

.fw-light {
  font-weight: 300 !important;
}

.fw-bold {
  font-weight: 700 !important;
}

.mg-none {
  margin: none !important;
}

.mg-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.mgt-xxs {
  margin-top: 0.4rem !important;
}

.mgt-xs {
  margin-top: 0.8rem !important;
}

.mgt-s {
  margin-top: 1.2rem !important;
}

.mgt-m {
  margin-top: 1.6rem !important;
}

.mgt-l {
  margin-top: 2rem !important;
}

.mgt-xl {
  margin-top: 2.4rem !important;
}

.mgb-xxs {
  margin-bottom: 0.4rem !important;
}

.mgb-xs {
  margin-bottom: 0.8rem !important;
}

.mgb-s {
  margin-bottom: 1.2rem !important;
}

.mgb-m {
  margin-bottom: 1.6rem !important;
}

.mgb-l {
  margin-bottom: 2rem !important;
}

.mgb-xl {
  margin-bottom: 2.4rem !important;
}

html {
  font-size: 10px;
}

body {
  background-color: #fff;
  font-family: -apple-system, "Roboto", "NotoSansKR", "Arial", sans-serif;
  font-size: 1.4rem;
  color: #222;
  word-break: break-all;
}

.body-area {
  min-width: 126rem;
  width: 100%;
  height: 100%;
}

.main-area {
  width: 100%;
  min-height: calc(100% - 20rem);
}

.section-area {
  width: 126rem;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 4.8rem;
}
.section-area .section-area__grid {
  width: 102.1rem;
}
.section-area .section-area__grid.section-area__grid--full {
  width: 100%;
}

.lnb {
  width: 23.9rem;
  color: #000;
  font-weight: 700;
  font-size: 1.8rem;
  text-align: left;
}
.lnb .lnb-title {
  margin-bottom: 4.25rem;
}
.lnb .lnb-list li + li {
  margin-top: 2.75rem;
}
.lnb .lnb-list a.active {
  color: #FF5D16;
}
.lnb .lnb-list a.active span:first-child::after {
  background: #FF5D16;
}
.lnb .lnb-list a {
  display: inline-block;
}
.lnb .lnb-list a span {
  vertical-align: middle;
  display: inline-block;
}
.lnb .lnb-list a span:first-child::after {
  content: "";
  width: 0.1rem;
  height: 1.6rem;
  margin: 0 1rem;
  display: inline-block;
  background: #000;
  vertical-align: middle;
  margin-top: -0.3rem;
}
.lnb .lnb-btn {
  margin-top: 3rem;
}
.lnb .lnb-btn .btn-type03 {
  display: block;
  width: 11.7rem;
  font-weight: 700;
}
.lnb .lnb-btn .btn-type03 + .btn-type03 {
  margin-top: 1rem;
}

.header-area {
  width: 100%;
  background: #ffcc00;
  height: 10rem;
}
.header-area .header-area__grid {
  width: 126rem;
  margin-left: auto;
  margin-right: auto;
}

.footer-area {
  width: 100%;
  height: 10rem;
  background: #f8f8f8;
}
.footer-area .footer-area__grid {
  width: 126rem;
  margin-left: auto;
  margin-right: auto;
}

.btn-type01 {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #fff;
  border-radius: 2px;
  background: #FF5D16;
}

.btn-type02 {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #fff;
  border-radius: 2px;
  background: #FFDFD0;
}

.btn-type03 {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #FF5D16;
  border-radius: 2px;
  border: solid 1px #FFDFD0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-type04 {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #000;
  border-radius: 2px;
  border: solid 1px #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-type01.sm, .btn-type02.sm, .btn-type03.sm, .btn-type04.sm {
  height: 28px;
  line-height: 28px;
  font-size: 12px;
}

.btn-reset {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #000;
  border-radius: 2px;
  border: solid 1px #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-reset i {
  display: inline-block;
  margin-right: 6px;
  width: 10px;
}
.btn-reset i img {
  width: 100%;
}

.ui-datepicker {
  display: none;
  width: 17em;
  padding: 0.2em 0.2em 0;
}
.ui-datepicker.ui-widget-content {
  border: 1px solid #c5c5c5;
  border-radius: 3px;
  background: #fff;
  color: #333333;
}
.ui-datepicker.ui-widget-content a {
  color: #333;
}
.ui-datepicker table {
  width: 100%;
  font-size: 0.9em;
  border-collapse: collapse;
  margin: 0 0 0.4em;
}
.ui-datepicker table th {
  padding: 0.7em 0.3em;
  text-align: center;
  font-weight: bold;
  border: 0;
}
.ui-datepicker table td {
  border: 0;
  padding: 1px;
  text-align: center;
}
.ui-datepicker table td span, .ui-datepicker table td a {
  display: block;
  padding: 0.2em;
  text-align: right;
  text-decoration: none;
}
.ui-datepicker .ui-widget-header {
  height: 40px;
  background: #fff;
  border: 0;
  line-height: 40px;
}
.ui-datepicker .ui-widget-header a {
  position: absolute;
  top: 0;
  color: #333;
}
.ui-datepicker .ui-widget-header a.ui-datepicker-prev {
  width: 20px;
  height: 40px;
  text-indent: -9999em;
}
.ui-datepicker .ui-widget-header a.ui-datepicker-prev:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  background: url(/UIDev/v2/images/bg_calendar_arrow_l.png) no-repeat;
  background-size: contain;
  width: 6px;
  height: 12px;
  margin: -3px 0 0 -6px;
}
.ui-datepicker .ui-widget-header a.ui-datepicker-next {
  right: 0;
  width: 20px;
  height: 40px;
  text-indent: -9999em;
}
.ui-datepicker .ui-widget-header a.ui-datepicker-next:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  background: url(/UIDev/v2/images/bg-calendar-arrow-r.png) no-repeat;
  background-size: contain;
  width: 6px;
  height: 12px;
  margin: -3px 0 0 -6px;
}
.ui-datepicker .ui-datepicker-title {
  display: -webkit-box;
  -webkit-box-pack: center;
  padding: 0 20px;
  margin: 0;
  line-height: 40px;
}
.ui-datepicker .ui-datepicker-title select {
  display: -webkit-box;
  -webkit-box-flex: 1;
  margin: 0 5px !important;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block;
  height: 40px;
  padding: 0 32px 0 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff url(/UIDev/v2/images/bg-select.png) no-repeat right 0;
  background-size: 33px 80px;
  color: #222;
  font-size: 15px;
  font-weight: 600;
}
.ui-datepicker .ui-datepicker-title span.ui-datepicker-year, .ui-datepicker .ui-datepicker-title .ui-datepicker-month {
  -webkit-box-flex: 1;
  font-size: 15px;
  font-weight: 600;
  line-height: 40px;
}
.ui-datepicker .ui-state-default, .ui-datepicker .ui-widget-content .ui-state-default, .ui-datepicker .ui-widget-header .ui-state-default, .ui-datepicker .ui-button, .ui-datepicker html .ui-button.ui-state-disabled:hover, .ui-datepicker html .ui-button.ui-state-disabled:active {
  border: 0 !important;
  background: none !important;
  text-align: center;
}
.ui-datepicker .ui-datepicker-today a {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: auto;
  color: #fff !important;
  background-color: #336fc9 !important;
  border-radius: 25px;
}
.ui-datepicker .ui-state-active, .ui-datepicker .ui-widget-content .ui-state-active {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: auto;
  color: #222 !important;
  background-color: #fffa90 !important;
  border-radius: 25px;
}

.form-chk {
  position: relative;
}
.form-chk input[type=checkbox] {
  display: none;
  width: 0;
  height: 0;
  border: 0 none;
  font-size: 0;
}
.form-chk input[type=checkbox]:checked + label::before {
  color: #FF5D16;
  border: solid 1px #FF5D16;
}
.form-chk input[type=checkbox] + label {
  cursor: pointer;
}
.form-chk input[type=checkbox] + label:before {
  content: "✔";
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #999999;
  color: #999999;
  width: 18px;
  height: 18px;
  text-align: center;
  font-size: 10px;
  margin-right: 5px;
  vertical-align: middle;
}

.form-radio input[type=radio] {
  display: none;
  width: 1;
  height: 1;
}
.form-radio input[type=radio]:checked + label::before {
  border: solid 1px #FF5D16;
}
.form-radio input[type=radio]:checked + label:after {
  background: #FF5D16;
}
.form-radio input[type=radio] + label {
  padding-left: 23px;
  position: relative;
}
.form-radio input[type=radio] + label::before {
  width: 18px;
  height: 18px;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: solid 1px #999;
  border-radius: 100%;
}
.form-radio input[type=radio] + label::after {
  width: 8px;
  height: 8px;
  content: "";
  position: absolute;
  left: 5.5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #999;
  border-radius: 100%;
}

input[type=text]:disabled, input[type=password]:disabled, input[type=number]:disabled {
  background: #E9E9E9;
  border: solid 1px #ccc;
}

input[type=text]:disabled::-webkit-input-placeholder, input[type=password]:disabled::-webkit-input-placeholder, input[type=number]:disabled::-webkit-input-placeholder {
  color: #ccc;
}

input[type=text]:disabled::-moz-placeholder, input[type=password]:disabled::-moz-placeholder, input[type=number]:disabled::-moz-placeholder {
  color: #ccc;
}

input[type=text]:disabled:-ms-input-placeholder, input[type=password]:disabled:-ms-input-placeholder, input[type=number]:disabled:-ms-input-placeholder {
  color: #ccc;
}

input[type=text]:disabled::-ms-input-placeholder, input[type=password]:disabled::-ms-input-placeholder, input[type=number]:disabled::-ms-input-placeholder {
  color: #ccc;
}

input[type=text]:disabled::placeholder, input[type=password]:disabled::placeholder, input[type=number]:disabled::placeholder {
  color: #ccc;
}

input[type=text], input[type=password], input[type=number] {
  border: solid 1px #E9E9E9;
  height: 40px;
  line-height: 40px;
  border-radius: 2px;
  font-size: 13px;
  padding: 0 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type=text]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder, input[type=number]::-webkit-input-placeholder {
  color: #E9E9E9;
}

input[type=text]::-moz-placeholder, input[type=password]::-moz-placeholder, input[type=number]::-moz-placeholder {
  color: #E9E9E9;
}

input[type=text]:-ms-input-placeholder, input[type=password]:-ms-input-placeholder, input[type=number]:-ms-input-placeholder {
  color: #E9E9E9;
}

input[type=text]::-ms-input-placeholder, input[type=password]::-ms-input-placeholder, input[type=number]::-ms-input-placeholder {
  color: #E9E9E9;
}

input[type=text]::placeholder, input[type=password]::placeholder, input[type=number]::placeholder {
  color: #E9E9E9;
}

.input-date {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 220px;
  padding: 6px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
}
.input-date > input {
  display: block;
  margin: 0;
  padding: 0;
  height: 26px;
  width: 100%;
  border: 0 none;
  font-size: 16px;
  color: #222;
  background-color: transparent;
  outline: 0;
  position: relative;
  padding-right: 28px;
  z-index: 2;
}
.input-date:after {
  content: "";
  position: absolute;
  right: 9px;
  top: 50%;
  display: block;
  width: 23px;
  height: 23px;
  margin-top: -11.5px;
  background: url(/UIDev/v2/images/icon/calendar.png) no-repeat;
  background-position: 0 0;
  background-size: 23px;
}
.input-date.readonly, .input-date.disabled {
  background-color: #E9E9E9;
}
.input-date.readonly > input, .input-date.disabled > input {
  cursor: default;
  outline: none;
}

select {
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 40px;
  background: url("/UIDev/v2/images/icon/down.png") calc(100% - 17px) center no-repeat;
  background-size: 12px;
  padding: 0px 44px 0px 14px;
  border-radius: 2px;
  outline: 0 none;
}

.tab-list {
  overflow-x: hidden;
}
.tab-list ul {
  text-align: right;
}
.tab-list ul li {
  display: inline-block;
  text-align: center;
  background: #FAF9F7;
  border: 1px solid #E9E9E9;
  border-bottom: none;
  position: relative;
}
.tab-list ul li a {
  width: 162px;
  display: block;
  height: 47px;
  line-height: 47px;
  font-size: 16px;
  color: #999;
}
.tab-list ul li.on {
  background: #fff;
}
.tab-list ul li.on a {
  color: #000;
}
.tab-list ul li + li {
  margin-left: 10px;
}
.tab-list ul li.on::before, .tab-list ul li.on::after {
  content: "";
  z-index: 1;
  width: 1000%;
  left: -1000%;
  bottom: 1px;
  height: 1px;
  background: #e9e9e9;
  position: absolute;
}
.tab-list ul li.on::after {
  left: auto;
  right: -1000%;
}

.tab-content {
  padding-top: 18px;
}
.tab-content > div {
  display: none;
}
.tab-content > div#tab01 {
  display: block;
}