<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    
    <title>KB차차차</title>

    <link type="text/css" rel="stylesheet" href="/UIDev/v2/css/style.min.css">
    <link rel="stylesheet" href="/UIDev/v2/js/lib/jquery-ui.min.css">
    <link rel="stylesheet" href="/UIDev/v2/js/lib/jquery.mCustomScrollbar.min.css">
    <script type="text/javascript" src="/UIDev/v2/js/lib/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" src="/UIDev/v2/js/lib/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/UIDev/v2/js/ui-common.min.js"></script>

</head>

<body class="only-pub"> <!-- [D] 개발 시에는 only-pub 클래스 제거 -->
    <button type="button" class="btn-type01 sm pop-btn-js" data-target="#popup01">소명신청</button>

    <!--popup-->
    <div class="popup-bg" style="display:block"></div>
    <div class="popup" id="popup01" style="display:block">
        <h2 class="popup-title">예외대상 차량입니다.
            <p class="popup-sub-title color-main">(사유: 판매가격 시세예외)</p>
        </h2>
        <div class="popup-body">
            <div class="inner pop-scroll">
                <textarea class="txar-tp1" placeholder="예외 사유를 입력해주세요" style="height: 150px;"></textarea>
                <div class="filebox mgt-s">
                    <label for="file"><span>첨부파일</span></label> 
                    <input type="file" id="file">
                </div>
                <div class="txt-sub-color3 mgt-s">첨부파일은 이미지(jpg, jpeg, png) 파일만 가능합니다.</div>
                <ul class="file-list">
                    <li>1234567.jpg <button type="button" class="btn-file-del"><span>닫기</span></button></li>
                    <li>123hhhh4567.jpg <button type="button" class="btn-file-del"><span>닫기</span></button></li>
                    <li>1234567.jpg <button type="button" class="btn-file-del"><span>닫기</span></button></li>
                    <li>123hhhh4567.jpg <button type="button" class="btn-file-del"><span>닫기</span></button></li>
                    <li>1234567.jpg <button type="button" class="btn-file-del"><span>닫기</span></button></li>
                    <li>123hhhh4567.jpg <button type="button" class="btn-file-del"><span>닫기</span></button></li>
                    <li>1234567.jpg <button type="button" class="btn-file-del"><span>닫기</span></button></li>
                    <li>123hhhh4567.jpg <button type="button" class="btn-file-del"><span>닫기</span></button></li>
                </ul>
            </div>
        </div>
        <div class="popup-btn">
            <button type="button" class="btn-type01">소명신청</button>
            <button type="button" class="btn-type03 popup-close-btn">다음에등록</button>
        </div>
    </div>
</body>
</html>
