<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    
    <title>KB차차차</title>

    <link type="text/css" rel="stylesheet" href="/UIDev/v2/css/style.min.css">
    <link rel="stylesheet" href="/UIDev/v2/js/lib/jquery-ui.min.css">
    <link rel="stylesheet" href="/UIDev/v2/js/lib/jquery.mCustomScrollbar.min.css">
    <script type="text/javascript" src="/UIDev/v2/js/lib/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" src="/UIDev/v2/js/lib/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/UIDev/v2/js/ui-common.min.js"></script>

</head>

<body class="only-pub"> <!-- [D] 개발 시에는 only-pub 클래스 제거 -->
    <button type="button" class="btn-type01 sm pop-btn-js" data-target="#popup01">판매정보 수정</button>

    <!--popup-->
    <div class="popup-bg" style="display:block"></div>
    <div class="popup" id="popup01" style="display:block">
        <h2 class="popup-title">판매완료 신고</h2>
        <div class="popup-body">
            <div class="inner pop-scroll">
                <!-- car-info -->
                <div class="car-search-result-table type-sm">
                    <div class="car-info">
                        <div class="thumb-img">
                            <img src="/UIDev/v2/images/temp/@thumb-car1.jpg" alt="차 이미지">
                            <span class="car-info-num">123부6077</span>
                        </div>
                        <div class="car-info-detail">
                            <h3 class="car-name">페라리 F8 Tributo 3.9 V8</h3>
                            <p class="car-etc">
                                <span>20년 07월(20년형)</span>
                                <span>7,831km</span>
                                <span>가솔린</span>
                            </p>
                            <p class="car-etc"><span>광고등록</span></p>
                            <p class="price tal">
                                <strong>38,000</strong> 만원
                            </p>
                        </div>
                    </div>
                </div>
                <!--// car-info -->
    
                <!-- banner -->
                <div class="box-event-area">
                    <i class="icon-area coin-img"></i>
                    판매완료 정보를 모두 입력하시면<br><span class="color-main">최대 500코인</span>까지 적립됩니다.
                </div>
                <!--// banner -->
    
                <!-- 입력 수정 정보 -->
                <ol class="form-list">
                    <li>
                        <p class="form-tit">실제 판매가격</p>
                        <div class="form-cont">
                            <span class="form-radio">
                                <input type="radio" id="delivery1" value="collect" name="delivery-group1">
                                <label for="delivery1">할인 판매</label>
                            </span>
                            <span class="form-radio">
                                <input type="radio" id="delivery2" value="collect" name="delivery-group1">
                                <label for="delivery2">정찰가 판매</label>
                            </span>
                            <strong class="coin off">+250</strong>
                        </div>
    
                        <div class="box-input-cont mgt-m">
                            <div class="display-flex-area">
                                <div class="p-tit"><del>1,850만원</del></div>
                                <div class="inp-money" style="width: 330px">
                                    <input type="number" title="금액">
                                    <div class="t-txt">만원</div>
                                </div>
                            </div>
                            <ul class="txt-list mgt-s mgl-xl">
                                <li><span class="dot"></span>현재 판매금액보다 적은 금액만 입력 가능합니다. (필수)</li>
                            </ul>
                        </div>
                        <script>
                            const radioBtn = $(":radio[value='collect']");
                            radioBtn.on('click', function(){
                                if($('#delivery1').is(':checked')){
                                    $('.box-input-cont').addClass('show');
                                } else {
                                    $('.box-input-cont').removeClass('show');
                                }
                            });
                        </script>
                    </li>
    
                    <li>
                        <p class="form-tit">판매대상을 선택</p>
                        <div class="form-cont">
                            <span class="form-radio">
                                <input type="radio" id="delivery3" value="collect" name="delivery-group2">
                                <label for="delivery3">일반 고객</label>
                            </span>
                            <span class="form-radio">
                                <input type="radio" id="delivery4" value="collect" name="delivery-group2">
                                <label for="delivery4">딜러</label>
                            </span>
                            <strong class="coin">+100</strong>
                        </div>
                    </li>
    
                    <li>
                        <p class="form-tit">금융사 이용</p>
                        <div class="form-cont">
                            <span class="form-radio">
                                <input type="radio" id="delivery5" value="collect" name="delivery-group3">
                                <label for="delivery5">이용함</label>
                            </span>
                            <span class="form-radio">
                                <input type="radio" id="delivery6" value="collect" name="delivery-group3">
                                <label for="delivery6">이용안함</label>
                            </span>
                            <strong class="coin">+25</strong>
                        </div>
    
                        <div class="mgt-m">
                            <div class="display-flex-area">
                                <div class="custom-select-box wid100">
                                    <span class="custom-select-selection">타사금융</span>
                                    <div class="custom-select-option-box">
                                        <ul>
                                            <li class="active">옵션1</li>
                                            <li>옵션2</li>
                                            <li>옵션3</li>
                                            <li>옵션4</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="custom-select-box wid100">
                                    <span class="custom-select-selection">선택</span>
                                    <div class="custom-select-option-box">
                                        <ul>
                                            <li class="active">옵션1</li>
                                            <li>옵션2</li>
                                            <li>옵션3</li>
                                            <li>옵션4</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
    
                    <li>
                        <p class="form-tit">추가정보 여부</p>
                        <div class="form-cont">
                            <span class="form-radio">
                                <input type="radio" id="delivery7" value="collect" name="delivery-group4">
                                <label for="delivery7">있음</label>
                            </span>
                            <span class="form-radio">
                                <input type="radio" id="delivery8" value="collect" name="delivery-group4">
                                <label for="delivery8">없음</label>
                            </span>
                            <strong class="coin">+300</strong>
                        </div>
                        <textarea class="txar-tp1 mgt-m" placeholder="내용 입력"></textarea>
                    </li>
                </ol>
                <!--// 입력 수정 정보 -->
    
                <p class="txt-list-tit">코인 지급안내</p>
                <ul class="txt-list sm">
                    <li><span class="dot"></span>차량번호 기준 1회만 지급됩니다.</li>
                    <li><span class="dot"></span>1일 이상 광고된 차량의 판매신고시 지급됩니다.</li>
                </ul>
            </div>

        </div>
        <div class="popup-btn">
            <button type="button" class="btn-type01">판매완료 확정</button>
            <button type="button" class="btn-type03 popup-close-btn">취소</button>
        </div>
    </div>
    
</body>
</html>
