<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    
    <title>KB차차차</title>

    <link type="text/css" rel="stylesheet" href="/UIDev/v2/css/style.min.css">
    <script type="text/javascript" src="/UIDev/v2/js/lib/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" src="/UIDev/v2/js/ui-common.min.js"></script>

</head>

<body class="only-pub"> <!-- [D] 개발 시에는 only-pub 클래스 제거 -->
    <main class="body-area" id="wrap">

        <header class="header-area"></header> <!-- common header-->

        <!-- [Start] main-area -->
        <section class="main-area">
            <div class="section-area">
                <div class="section-area-grid">
                    <h2 class="title-area">
                        타이틀입니다. 1
                    </h2>

                    <div class="section-area-cont">
                        컨텐츠입니다.

                        <!-- 파일 경로는 절대경로 기준으로 -->
                        <img src="/UIDev/v2/images/common/aaa.png" alt="">

                        <p class="font-kb tac fw-bold">
                            KB폰트(font-kb) 중앙정렬(tac) 볼드체(fw-bold) 입니다.
                        </p>
                    </div>
                </div>
            </div>

            <div class="section-area">
                <div class="section-area-grid section-area-grid-full">
                    <h2 class="title-area">
                        풀 영역 타이틀입니다.
                    </h2>

                    <div class="section-area-cont">
                        풀 영역 컨텐츠입니다.
                    </div>
                </div>
            </div>



            <!-- [Start] 페이지 전용 js -->
            
            <!-- // [End] 페이지 전용 js -->

        </section>
        <!-- // [End] main-area -->

        <footer class="footer-area"></footer> <!-- common footer -->
    </main>
</body>
</html>